@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap'); /* menambahkan huruf */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
header, footer {
    background-color: #333;
    color: white;
    padding: 10px;
}
h1,h2,h3,h4,h5{
  color: #232e35;
}
p {
  font-size: 16px;
  line-height: 1.9rem;
}
a{
  text-decoration: none;
}
.main-container {
  width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width : 1200px) {
  .main-container{
    width: 100%;
  }
}

/* logo and navigasi */
.nav { 
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;;
}
.nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}
.logo{
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
}

.logo a {
  color: #015A93;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul a {
  color: #015A93;
}
main {
    display: flex;
    flex-grow: 1;
}
.welcome{
  font-size: 3rem;
  font-weight: 700;
  margin: 1rem 0 2rem;
}
.profil img {
  width: auto;
}

.profil {
  display: flex;
  justify-content: center;
}

aside {
  width: 45%; 
  background-color: #f4eaea;
  padding: 20px;
}

article {
  flex-grow: 1;
  padding: 20px;
}
.name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}
  
.name span {
  color: #015A93;
} 
.footer-content, .footer-links, .social-media {
  margin-bottom: 10px;
}
  s
.footer-links ul {
  list-style-type: none;
  padding: 0;
  }
  
.footer-links li {
  display: inline;
  margin-right: 20px;
}
  
.footer-links a {
  color: #fff;
  text-decoration: none;
}
.social-media img {
  width: 30px;
  height: 30px;

  }
.footer-bottom p {
  align-items: center;
  clear: both;
}

  /*style kontak*/

.kontak {
        max-width: 1200px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
h1, h2 {
  text-align: center;
}
.contact-info {
  margin-top: 20px;
}
.contact-info div {
  margin-bottom: 10px;
}
.contact-info i {
        margin-right: 10px;
    }

/* style about me */

.column {
  float: center;
  width: 33.33%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

@media screen and (max-width: 30000px) {
  .column {
    width: 100%;
    display: block;
  }
}